EXPO_PUBLIC_API_BASE_URL=https://lulit-backend-production.up.railway.app/api/v1
EXPO_PUBLIC_WEB_APP_URL=https://frontend-peach-eight-mhrkt5iw5h.vercel.app
EXPO_PUBLIC_WALLETCONNECT_PROJECT_ID=
EXPO_PUBLIC_ENABLE_DEV_WALLET=false
EXPO_PUBLIC_DEV_WALLET_PRIVATE_KEY=
EXPO_PUBLIC_WEB_DAO_FALLBACK_URL=https://frontend-peach-eight-mhrkt5iw5h.vercel.app/dao
